language: php
php:
  - '5.5'
  - '5.6'
service:
  - mysql
install:
  - composer install
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS travis;'  
  - mysql -u root --default-character-set=utf8 travis < scripts/bd.sql
script:
  - vendor/bin/phpunit
  env :
 - export DB=mysql
  Disabling Gradle daemon :
 -mkdir -p ~/.gradle && echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
