language: php
php:
  - 7.1.9
  before_script: composer require atoum/atoum
script: vendor/bin/atoum
install: php vendor/vendors.php
env:
  - SYMFONY_VERSION="2.0.*" DB=mysql
  - SYMFONY_VERSION="dev-master" DB=mysql
  install:
   - composer require symfony/framework-bundle:${SYMFONY_VERSION}
       script: phpunit --configuration $DB.phpunit.xml
