language: php
php:
  - '5.5'
  - '5.6'
service:
  - mysql
install:
  - composer install
before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS travis;'  
 
script:
  - vendor/bin/phpunit
  env :
 - export DB=mysql

 
